Abhay.jpg
About_us.php
Accounnt.php
Add_Drone_components.php
Add_Electronic_items.php
Add_Microcontrollar.php
Add_Sensors.php
Add_Users.php
Admin_Homepage.php
Admin_Sidebar.php
Background-Image.jpg
Contact_us.php
Drone_DB.php
Drone_components.html
Electonics.php
Electronic_items.html
Electronics_DB.php
FINAL.docx
IOT.gif
Inventory management system.pdf
Inventory-Management-System.docx
Landing_Page.html
List.php
Login_Page (1).html
Login_bg1.gif
Login_page.css
Login_page.php
M_request_page.php
Microcontrollars_DB.php
Microcontroller.php
NAVBAR.php
Prashant.jpg
README.md
Request.php
Sensor_DB.php
Sensors.html
Sensors.php
USERNAME.php
USER_SIDEBAR.php
Users.php
add_card.php
admin.sql
drone.jpg
drone.php
electronic-item.jpg
ict_logo.png
login.sql
mainpage.php
microcontroller.jpg
request_handler.php
sensor.png
signup.php