.outer{
    margin: 50px  auto;
    padding: 10px 12px 10px 12px;
    font-family: 'Roboto', sans-serif;
    width: 550px;
    height: 600px; 
    background-color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 20px black
}
.inner1{
    text-align: left;
    font-weight: bold;
    opacity: 75%;
    font-size: 20px;
}
#username,#password{
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    
}
#submit{
    width: 100%;
    height: 50px;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 20px;


}