
#microcontroller {
    box-shadow: 10px 5px 5px rgb(116, 112, 112);
    padding-top: 2px;
}
#sensor{
    box-shadow: 10px 5px 5px rgb(116, 112, 112);
    padding-top: 2px;

}
#drone{
    box-shadow: 10px 5px 5px rgb(116, 112, 112);
    padding-top:2px;
}
#electronic-items{
    box-shadow: 10px 5px 5px rgb(116, 112, 112);

}
#microcontroller-btn:hover{
    border-color: black;
    border-width: 2px;

}
#sensor-btn:hover{
    border-color: black;
    border-width: 2px;
}
#drone-btn:hover{
    border-color: black;
    border-width: 2px;
}
#electronic-btn:hover{
    border-color: black;
    border-width: 2px;
}
.side-nav-btn{
   
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.side-nav-btn:hover{
    background-color: rgb(0,0,0,0.3);
    border-radius: 30%;
    
}

.sidebar-menu{
    position: absolute;
    left:0 px;
    width: 250px;
   height: 100vh;
   box-shadow: rgb(0,0,0,0.5);
   background-color: rgb(34,34,34,1);
   border-top: 1px solid white;
   
}
.side-content{
    color: white;
    width: 230px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.item{
    display: flex;
    align-items: center;
    height: 50px;
}
.item:hover{
    background-color: rgb(255,255,255,0.3);
    border-radius: 10px;
}
.item i{
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;

}
.item span{
    width: 120px;
    text-transform: capitalize;
}
.item a{
    color: white;
    text-decoration: none;
}
.cross-btn{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 200px;
}
.cross-btn i:hover{
    font-size:30px ;
}
#checkbox{
    display: none;

}
#checkbox:checked .sidebar-menu {
    left: 0;
}
.main-display{
    position: absolute;
    left:250px;
    width: calc(100%-300px);
}